<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-4 pb-2">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center border-top py-3" 
         style="border-color: rgba(255, 255, 255, .1) !important;">
        <!-- Copyright Section -->
        <div class="text-center text-md-left mb-2 mb-md-0">
            <p class="mb-0 text-secondary small">
                Página desenvolvida para projeto exemplo.
                <a class="text-primary" href="https://devopspro.com.br" target="_blank">DevOps Pro</a>
            </p>
        </div>
        <!-- Payments Image Section -->
        <div class="text-center">
            <img class="img-fluid" src="/img/payments.png" alt="Payment Methods" style="max-height: 40px;">
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


